<footer class="footer">
    <div class="footer_container container">
        <h1 class="footer_title">Ansel</h1>

        <ul class="footer_list">
            <li>
                <a href="#about" class="footer_link">About</a>
            </li>
            <li>
                <a href="#work" class="footer_link">Projects</a>
            </li>
            <li>
                <a href="#testimonials" class="footer_link">Testimonials</a>
            </li>
        </ul>

        <ul class="footer_social">
            <a href="https://www.facebook.com/" target="_blank" class="footer_social-link">
                <i class="bx bxl-facebook"></i>
            </a>
            <a href="https://www.instagram.com/" target="_blank" class="footer_social-link">
                <i class="bx bxl-instagram"></i>
            </a>
            <a href="https://www.twitter.com/" target="_blank" class="footer_social-link">
                <i class="bx bxl-twitter"></i>
            </a>
        </ul>

        <span class="footer_copy">
            &#169; Amaze Creations. All rights reserved
        </span>
    </div>
</footer>