<section class="about section" id="about">
    <span class="section_subtitle">My Intro</span>
    <h2 class="section_title">About Me</h2>
    <div class="about_container container grid d-md-flex">
        <div class="about_img_container">
            <img src="../../assets/img/about.jpg" alt="" class="about_img">
        </div>

        <div class="about_data">

            <div class="about_info">
                <div class="about_box">
                    <i class="fas fa-award about-icon"></i>
                    <h3 class="about_title">Experience</h3>
                    <span class="about_subtitle">5 Years Working</span>
                </div>

                <div class="about_box">
                    <i class="fas fa-briefcase about-icon"></i>
                    <h3 class="about_title">Completed</h3>
                    <span class="about_subtitle">48 + Projects</span>
                </div>

                <div class="about_box">
                    <i class="fas fa-headset about-icon"></i>
                    <h3 class="about_title">Support</h3>
                    <span class="about_subtitle">Online 24/7</span>
                </div>
                

            </div>

            <p class="about_description">
                Animator, ddsfskjfn dnfns;d skdfmskkdf skdnf;s;kdf lkdflsk df
                sdkjfnk sdf s  kdfs dfk;sdf d[fksdf] fkjkdsd nskjdfnsd kkjsdfnls
                ksjdfsf sndflkdsnfl sdkflsdkf sdfn slkd sdflkjfds 
            </p>

            <a [routerLink]="['/work']" class="button">Know My Works</a>
        </div>
    </div>
</section>
<app-footer></app-footer>