<section class="contact section" id="contact">
    <span class="section_subtitle">Get in touch</span>
    <h2 class="section_title">Contact Me</h2>

    <div class="contact_container container grid">

        <div class="contact_content">
            <h3 class="contact_title">Talk to me</h3>

            <div class="contact_info">

                <div class="contact_card">
                    <i class="bx bx-mail-send contact_card-icon"></i>
                    <h3 class="contact_card-title">Email</h3>
                    <span class="contact_card-data">user@gmail.com</span>

                    <a href="mailto:exampleemail@correo.com" target="_blank" class="contact_button">
                        Write me <i class="bx bx-right-arrow-alt contact_button-icon"></i>
                    </a>
                </div>

                <div class="contact_card">
                    <i class="bx bxl-whatsapp contact_card-icon"></i>
                    <h3 class="contact_card-title">Whatsapp</h3>
                    <span class="contact_card-data">999-888-777</span>

                    <a href="https://api.whatsapp.com/send?phone=123456789&text=Hello, more information!" target="_blank" class="contact_button">
                        Write me <i class="bx bx-right-arrow-alt contact_button-icon"></i>
                    </a>
                </div>

                <div class="contact_card">
                    <i class="bx bxl-messenger contact_card-icon"></i>
                    <h3 class="contact_card-title">Messenger</h3>
                    <span class="contact_card-data">user.123</span>

                    <a href="https://m.me/bedimcode" target="_blank" class="contact_button">
                        Write me <i class="bx bx-right-arrow-alt contact_button-icon"></i>
                    </a>
                </div>

            </div>
        </div>

        <div class="contact_content">
            <h3 class="contact_title">Write me your projects</h3>

            <form action="" class="contact_form">

                <div class="contact_form-div">
                    <label for="" class="contact_form-tag">Names</label>
                    <input type="text" placeholder="Insert your name" class="contact_form-input">
                </div>

                <div class="contact_form-div">
                    <label for="" class="contact_form-tag">Mail</label>
                    <input type="email" placeholder="Insert your mail" class="contact_form-input">
                </div>

                <div class="contact_form-div contact_form-area">
                    <label for="" class="contact_form-tag">Project</label>
                    <textarea name="" id="" cols="30" rows="10" placeholder="Write your project" class="contact_form-input"></textarea>
                </div>

                <button class="button">Send Message</button>
            </form>
        </div>

    </div>
</section>