<section class="testimonial section">
    <span class="section_subtitle">My Clients Say</span>
    <h2 class="section_title">Testimonials</h2>

    <div class="testimonial_container container swiper">
        <div class="swiper-wrapper">

            <div class="testimonial_card swiper-slide">
                <img src="assets/img/testimonial1.png" alt="" class="testimonial_img">
                
                <h3 class="testimonial_name">John Doe</h3>
                <p class="testimonial_description">
                    llkfsdf sdfkjjsodf kdf sf ksdf ;skdf slkdmfs df sdkf slkdmfs
                    nsdlfjsn f lksjdfn sidf skdfsf sdfk s 
                </p>
            </div>

            <div class="testimonial_card swiper-slide">
                <img src="assets/img/testimonial2.png" alt="" class="testimonial_img">
                
                <h3 class="testimonial_name">Paul</h3>
                <p class="testimonial_description">
                    llkfsdf sdfkjjsodf kdf sf ksdf ;skdf slkdmfs df sdkf slkdmfs
                    nsdlfjsn f lksjdfn sidf skdfsf sdfk s 
                </p>
            </div>

            <div class="testimonial_card swiper-slide">
                <img src="assets/img/testimonial3.png" alt="" class="testimonial_img">
                
                <h3 class="testimonial_name">Sara Clill</h3>
                <p class="testimonial_description">
                    llkfsdf sdfkjjsodf kdf sf ksdf ;skdf slkdmfs df sdkf slkdmfs
                    nsdlfjsn f lksjdfn sidf skdfsf sdfk s 
                </p>
            </div>

        </div>

        <div class="swiper-pagination"></div>
    </div>
</section>