<section class="home section" id="home">
    <div class="home_container container grid">
        <div class="home_data">
            <span class="home_greeting">Hello, I'm</span>
            <h1 class="home_name">Amaze Creations</h1>
            <h3 class="home_education">Animator</h3>

            <div class="home_buttons">
                <a download="" href="../../assets/pdf/Ansel-Cv.pdf" class="button button-ghost">
                    Download Cv
                </a>
                <a [routerLink]="['/about']" class="button">About me</a>
            </div>
        </div>

        <div class="home_handle d-flex justify-content-around align-items-end">
            <div class="d-none d-sm-inline d-sm-flex align-items-center h-100">
                <div>   
                    <span class="home_content">Hello, I'm</span>
                    <h1 class="home_content mt-3">Name</h1>
                    <h1 class="home_content">Working as a Animator</h1>
                </div>
            </div>
            <img src="../../assets/img/perfil.png" alt="" class="home_img">
        </div>

        <div class="home_social">
            <a href="https://www.linkedin.com/" target="_blank" class="home_social-link">
                <i class="fab fa-linkedin"></i>  
            </a>
            <a href="https://www.facebook.com/" target="_blank" class="home_social-link">
                <i class="fab fa-facebook"></i>  
            </a>
            <a href="https://www.twitter.com/" target="_blank" class="home_social-link">
                <i class="fab fa-twitter"></i>  
            </a>
        </div>

        <div class="home_scroll">
            <a href="https://www.whatsapp.com/" target="_blank" class="home_social-link">
                <i class="fab fa-whatsapp"></i>  
            </a>
            <a href="https://www.phone.com/" target="_blank" class="home_social-link">
                <i class="fas fa-phone"></i>  
            </a>
            <a href="https://www.google.com/" target="_blank" class="home_social-link">
                <i class="fas fa-envelope"></i>  
            </a>
        </div>
    </div>
</section>
<app-footer></app-footer>