.work_container {
    padding-top: 1rem;
  }
  
  .work_filters {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .75rem;
    margin-bottom: 2rem;
  }
  
  .work_item {
    cursor: pointer;
    color: var(--title-color);
    padding: 0.25rem 0.75rem;
    font-weight: var(--font-medium);
    border-radius: .5rem;
  }
  
  .work_card {
    background-color: var(--container-color);
    padding: 1rem;
    border-radius: 1rem;
  }
  
  .work_img {
    border-radius: 1rem;
    margin-bottom: .75rem;
  }
  
  .work_title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: 0.25rem;
  }
  
  .work_button {
    width: max-content;
    color: var(--first-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    column-gap: .25rem;
  }
  
  .work_button:hover .work_icon {
    transform: translateX(.25rem);
  }
  
  .work_icon {
    font-size: 1rem;
    transition: .4s;
  }
  
  /* Active item work*/
  .active-work {
    background-color: var(--first-color);
    color: var(--body-color);
  }

  /*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {

  .work_item {
    font-size: var(--small-font-size);
  }

  .work_filters {
    column-gap: .25rem;
  }
  
}

/* For medium devices */
@media screen and (min-width: 576px) {

  .work_container {
    justify-content: center;
  }

  .work_img {
    width: 295px;
  }

  .work_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 767px) {
  
}

/* For large devices */
@media screen and (min-width: 992px) {

  .work_container {
    gap: 3rem;
  }

  .work_card {
    padding: 1.25rem;
  }

  .work_img {
    margin-bottom: 1rem;
  }

  .work_title {
    margin-bottom: 0.5rem;
  }
}

