<section class="work section" id="work">
    <span class="section_subtitle">My Portfolio</span>
    <h2 class="section_title">Recent Works</h2>

    <div class="work_filters">
        <span class="work_item active-work" data-filter="all">All</span>
        <span class="work_item" data-filter=".web">Web</span>
        <span class="work_item" data-filter=".movil">Movil</span>
        <span class="work_item" data-filter=".design">Design</span>
    </div>

    <div class="work_container container grid">

        <div class="work_card mix web">
            <img src="assets/img/work1.jpg" alt="" class="work_img">

            <h3 class="work_title">Web Design</h3>

            <a href="#" class="work_button">
                Demo <i class="bx bx-right-arrow-alt work_icon"></i>
            </a>
        </div>

        <div class="work_card mix movil">
            <img src="assets/img/work2.jpg" alt="" class="work_img">

            <h3 class="work_title">App Movil</h3>

            <a href="#" class="work_button">
                Demo <i class="bx bx-right-arrow-alt work_icon"></i>
            </a>
        </div>

        <div class="work_card mix design">
            <img src="assets/img/work3.jpg" alt="" class="work_img">

            <h3 class="work_title">Brand Design</h3>

            <a href="#" class="work_button">
                Demo <i class="bx bx-right-arrow-alt work_icon"></i>
            </a>
        </div>

        <div class="work_card mix web">
            <img src="assets/img/work4.jpg" alt="" class="work_img">

            <h3 class="work_title">Web Design</h3>

            <a href="#" class="work_button">
                Demo <i class="bx bx-right-arrow-alt work_icon"></i>
            </a>
        </div>

        <div class="work_card mix movil">
            <img src="assets/img/work5.jpg" alt="" class="work_img">

            <h3 class="work_title">App Movil</h3>

            <a href="#" class="work_button">
                Demo <i class="bx bx-right-arrow-alt work_icon"></i>
            </a>
        </div>
    </div>
</section>